<!-- styles -->
      <link rel="stylesheet" type="text/css" href="style.css">

/*********** HEADER ************/
      header {
    text-align: center;
            }

body {
    margin: 0;
    background-color: #e8efee;
}

header {
    text-align: center;
    padding: 10px;
    background-color: #ff7a7a;
    color: white;
    font-family: 'Open Sans', serif;
    background-repeat: no-repeat;
}

background-image {
    width: 100%;
}


.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 400px;
    height: 250px;
    font-family: 'Open Sans', serif;
}

.flex-item {
    width: 500px;
    height: 300px;
    margin: 50px;
    font-family: 'Open Sans', serif;
}

header a {
    color: white;
    text-decoration: none;
}

<!-- fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

a:hover{
    color:black;
}

a:active{
    color:black;
}

/*********** IMAGE GALLERY ************/

div.gallery {
    margin: 10px;
    float: left;
    width: 30%;
    font-family: 'Open Sans', sans-serif;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/*** FLEXBOX ***/

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    font-family: 'Open Sans', serif;

}

/* Left and right column */
.column.side {
    width: 20%;
}

/* Middle column */
.column.middle {
    width: 60%;
    font-family: 'Open Sans', serif;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Table style */

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/**** FOOTER *****/
.footer {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    bottom: 0px;
    position: fixed;
    left: 0px;
    height: auto;
    width: 100%;
    background: #ff7a7a;
    color: white;
}

